:root {
  --black: #06070E;
  --ink: #192231;
  --ltPurple: #BBA7B1;
  --dusk: #985E6D;
  --ltGray: #d7d7d7;
}

body {
  background-color: var(--ltGray);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* ------Fonts/Text ---------- */
h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
a {
  font-size: 1.25rem;
}



/* ------Header style ---------- */
header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: var(--ink);
}

aside {
  background-color: var(--ltPurple);
  align-self: center;
  margin: 1rem 0;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border-radius: 2px;
}

aside h1 {
  color: var(--ink);
}

nav {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  align-items:center;
}

nav a {
  color: var(--ltPurple);
  margin: 0 0.7rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--ltPurple);
}

nav a:hover {
  cursor: pointer;
  color: var(--dusk);
  border-color: var(--dusk);
  transform:scale(1.2);
}

/* ------Header style ---------- */
.hero {
  background-image: url("../pexels-pixabay-220118.jpg");
  height: 300px;
  position: relative;
  
}

.hero h2 {
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  color: var(--ink);
  background-color: var(--ltPurple);
  padding: 0.75rem;
  border-radius: 2px;
}


/* ------Footer style ---------- */